<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<appSettings>
		<!--the Bearer token must be replaced every 8 hour-->
		<add key="Authorization" value="Bearer eyJraWQiOiJ0ZXN0LTIiLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiJTNFhncVpkak5LXzdhOGROODRnMEE2amNpMXZWWEVmN2puVFdnSUtvWVBlSjhNZFVWTlppNzFwZ1kya0RXeXRfSWFwallwVmlGNS10Zm9STGExaHhLQ0k4RnVjeXdvWEFTelhVZzZDYU8tUlp3ejQiLCJwaWQiOiIwNzg3OTE5NjI5MyIsImlhdCI6MTcwMDU1ODk1MCwiZXhwIjoxNzAwNTczMzUwfQ.JBsG1HtZflcXzWW1ThVh78EPfpLPuCgGsklKDlKV25Cts24CxR4eb1NdRtmMUvO-REccmauPYK39RZa2wFZoEftzSG2lC0wEiyUau5RK45jiXjyr02HNgxKsqQoc39cQVQOYTBImRt2THn5IODRPHVL7yNFxkK6vjAwzPsF40FXAaNwFQ9TfIN8uyR3BjcW1LGQHMJzrMKpk-rL7TxtVMSxaAciuSnYddZGNM7gpHnoR3DCmo4yiWGOOl2FoWiquSRYLi4tv9DnoZBCz2ejBGfTnQVJ2qbzRMHdtKX9yRGAdS_x4ze7MXb6iravLJHgF0xX5-PiTJ_7cgbjN1L6XoQ" />
		<add key="BasePath" value="https://nrl-test.kartverket.no/nrl" />
		<!--eierId must be set to a valid eierId in the test environment-->
		<add key="eierId" value="8e80fb47-0be8-40d4-82bd-45e06b0a79f6" />
	</appSettings>
	
</configuration>