<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<appSettings>
		<!--the Bearer token must be replaced every 8 hour-->
		<add key="Authorization" value="Bearer eyJraWQiOiJ0ZXN0LTIiLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiJTNFhncVpkak5LXzdhOGROODRnMEE2amNpMXZWWEVmN2puVFdnSUtvWVBlSjhNZFVWTlppNzFwZ1kya0RXeXRfSWFwallwVmlGNS10Zm9STGExaHhLQ0k4RnVjeXdvWEFTelhVZzZDYU8tUlp3ejQiLCJwaWQiOiIwNzg3OTE5NjI5MyIsImlhdCI6MTY5NTEwNDQzNSwiZXhwIjoxNjk1MTE4ODM1fQ.n2QI7R4JT2CdtmbviJPKnBPRM2U5zmankoHXWQIAwWaq14aEiLoFdUnkcmZFviXNL2ueSYSJnO81qLdifg0GsdosDRm50DusmeVvE8IOJBFOE8dXf1C3dxbCtiMbBiDFrGhkljAVLvrhSrfmYBwzHpNxuP7B47HXa0nQN3AoOWS3m6pkdPOAqWaBxj0OqfjRjX7xJldc6B0bnOZJ4IKMD3oo1I-_l2Kt4IpP1tWXdR5ubvgoa1c5aEB2BZ0p-IpsjdJ13VsQnDimi_gBFc7Hl31N_UV_1_7AQoc2S6m1cQ1cKeYPvyfFK95yXokgx5us52vzmVORTE14BjCR_qHivw" />
		<add key="BasePath" value="https://nrl-test.kartverket.no/nrl" />
	</appSettings>

</configuration>